body {
       background-color: #f8fafc;
       font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
       font-size: 14px;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: 0.11px;
     }
     
     h1 {
       font-size: 26px;
       font-weight: bold;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: -0.13px;
     }
     
     h2 {
       font-size: 22px;
       font-weight: bold;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
     }
     
     h3 {
       font-size: 18px;
       font-weight: bold;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: 0.04px;
     }
     
     big {
       font-size: 16px;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: 0.08px;
     }
     
     caption {
       font-size: 12px;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: 0.08px;
     }
     
     label {
       font-size: 14px;
       font-weight: bold;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       color: #191919;
     }
     .company {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      border-spacing: 0;
     }
     .company th {
      padding: 10px;
      background: #e9faf9;
      border: solid 1px #778ca3;
     }
     .company td {
      padding: 10px;
      border: solid 1px #778ca3;
     }